# Node
node_modules/
dist/
coverage/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*.local

# DB
*.sqlite
*.sqlite3
db.sqlite

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Bui
